<div id="chat">
    <form id="frm-send-message" action="#">
        <label for="message">Message:</label>
        <input type="text" id="message" />
        <input type="submit" id="send" value="Send" />
    </form>
    <div class="clear">
    </div>
    <ul id="messages"></ul>
</div>
<script src="~/js/signalr.min.js"></script>
<script>
    let transportType = signalR.TransportType.WebSockets;
    let http = new signalR.HttpConnection(`https://${document.location.host}/messages`, { transport: transportType });
    let connection = new signalR.HubConnection(http);
    connection.start();

    connection.on('Message', (message) => {
        appendLine(message);
    });

    document.getElementById('frm-send-message').addEventListener('submit', event => {
        let message = document.getElementById('message').value;
        document.getElementById('message').value = '';

        connection.invoke('Message', message);
        event.preventDefault();
    });

    function appendLine(line, color) {
        let li = document.createElement('li');
        li.innerText = line;
        document.getElementById('messages').appendChild(li);
    };

</script>