@using NoWaste.Models
@model List<Request>


<div class="container">
    <div class="row">
        <div class="cols-md-12">
            <table>
            @foreach(Request conversation in Model)
            {
            <tr>
                <td>@conversation.Advert.Title</td>
                <td><a asp-action="Conversation" asp-route-id="@conversation.Id">Show conversation</a></td>
            </tr>
            }
            </table>
        </div>
    </div>
</div>