body {
    background-image: url(../images/logback.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.tag-line{
    color: #FFF;
    font-size: 40px;
}

.landing-buttons {
    left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
