<link rel="stylesheet" href="~/css/landing.css" />
<div class="landing-buttons">
    <p>
        <a href="../Account/Login" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">Log in</a>
    </p>
    <p>
        <a href="../Account/Register" class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">Register</a>
    </p>
</div>
