@model NoWaste.Models.Advert;
@{
    ViewData["Title"] = "AdvertDetails";
}
<div class="advert-photo">
    <h2>Photo</h2>
</div>
<p>
    Title
</p>
<p>
    Description
</p>
<div class="center">
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
        I want it
    </a>
</div>
<p>
    Username
</p>
<p>
    *******
</p>

