@using Microsoft.AspNetCore.Identity
@using NoWaste.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    /* Afficher liste */
    <button class="add-button">
        <a href="../Home/CreateAdvert">
            <i class="material-icons">add</i>
        </a>
    </button>
}
else
{
    @await Html.PartialAsync("_Landing")
}
