
@{
    ViewData["Title"] = "RequestReceived";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Request Received</h4>

<style>
    .list-request {
        width: 300px;
    }
</style>

<div class="list-request mdl-list">
    <div class="request">
        <div class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-avatar">person</i>
                <span>Tom</span>
            </span>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="">
                <i class="material-icons">check</i>
            </a>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="">
                <i class="material-icons">close</i>
            </a>
        </div>
        <div class="mdl-list__item">
            Jambon
        </div>
    </div>
    <div class="request">
        <div class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-avatar">person</i>
                <span>Marie</span>
            </span>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="">
                <i class="material-icons">check</i>
            </a>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="">
                <i class="material-icons">close</i>
            </a>
        </div>
        <div class="mdl-list__item">
            Table en bois
        </div>
    </div>
    <div class="request">
        <div class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-avatar">person</i>
                <span>Nico</span>
            </span>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="">
                <i class="material-icons">check</i>
            </a>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="">
                <i class="material-icons">close</i>
            </a>
        </div>
        <div class="mdl-list__item">
           500g de tomates
        </div>
    </div>
</div>

