@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h3>@ViewData["Title"]</h3>
<div class="col-md-4">
    <form asp-controller="Account" asp-action="Register" method="post">
        <div class="mdl-textfield mdl-js-textfield">
            <label asp-for="FirstName" class="mdl-textfield__label" for="FirstName">FirstName</label>
            <input asp-for="FirstName" class="mdl-textfield__input" type="text" id="FirstName" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <label asp-for="LastName" class="mdl-textfield__label" for="LastName">LastName</label>
            <input asp-for="LastName" class="mdl-textfield__input" type="text" id="LastName" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Photo" class="form-control" id="photoBlobInput" type="hidden" />
            <label id="#bb" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                <i class="material-icons">add_a_photo</i>
                <input type="file" name="Photo" id="Picture" />
            </label>
            <span asp-validation-for="Photo" class="text-danger"></span>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <label asp-for="Email" class="mdl-textfield__label" for="Email">Email</label>
            <input asp-for="Email" class="mdl-textfield__input" type="email" id="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <label asp-for="EmailConfirm" class="mdl-textfield__label" for="EmailConfirm">Email Comfirmation</label>
            <input asp-for="EmailConfirm" class="mdl-textfield__input" type="email" id="EmailConfirm" />
            <span asp-validation-for="EmailConfirm" class="text-danger"></span>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <label asp-for="Password" class="mdl-textfield__label" for="Password">Password</label>
            <input asp-for="Password" class="mdl-textfield__input" type="password" id="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <label asp-for="ConfirmPassword" class="mdl-textfield__label" for="ConfirmPassword">Confirm Password</label>
            <input asp-for="ConfirmPassword" class="mdl-textfield__input" type="password" id="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <label asp-for="Address" class="mdl-textfield__label" for="Address">Address</label>
            <input asp-for="Address" class="mdl-textfield__input" type="text" id="Address" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <label asp-for="PostalCode" class="mdl-textfield__label" for="PostalCode">Postal Code</label>
            <input asp-for="PostalCode" class="mdl-textfield__input" type="text" id="PostalCode" />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <label asp-for="Town" class="mdl-textfield__label" for="Town">Town</label>
            <input asp-for="Town" class="mdl-textfield__input" type="text" id="Town" />
            <span asp-validation-for="Town" class="text-danger"></span>
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            <label asp-for="Phone" class="mdl-textfield__label" for="Phone">Phone</label>
            <input asp-for="Phone" class="mdl-textfield__input" type="text" id="Phone" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                Register
            </button>
        </div>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(document).ready(function () {
        $("input[type=file]").change(function () {
            var formData = new FormData();
            formData.append("picture", $(this).prop('files')[0]);
            fetch('/api/picture', { method: "POST", body: formData })
                .then(function (response) {
                    return response.json();
                })
                .then(function (myJson) {
                    $("#photoBlobInput").val(myJson);
                });
        });
    });
</script>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
